a, a:hover {
    color: #333333;
    text-decoration: none;
}

.container-item {
    border-bottom: #EEEEEE solid 2px;
}

.thumbnail {
    border-radius: 4px;
    float: left;
    height: 180px;
    margin: 16px 16px 16px 0;
    width: 180px;
}

.product-details {
    color: #333333;
    margin: 32px 0;
}

.price {
    font-size: 24px;
    margin-bottom: 32px;
}

.item-detail {
    font-size: 18px;
}

.seller-location {
    color: #666666;
    font-size: 12px;
    margin-top: 32px;
}
