.container-search {
    background-color: #FFE600;
    display: flex;
    padding: 0 15%;
}

.container-search-group {
    width: 100%;
}

.img-logo {
    float: right;
    margin-right: 1rem;
    width: 65px;
}

.form-search {
    display: flex;
    width: 100%;
}

.input-group-text {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
